table{
	margin: auto;
	border:black 2px solid;
	text-align: center;
	margin-top:30px;
	background-color:gainsboro;
	margin-bottom:40px;

	td{
	border:black 1px solid;
	padding:10px;
}

	th{
	border:black 1px solid;
	padding:10px;
}	
}


$color:black;

th,td{
	border:$color 1px solid;
	padding:10px;
}

%message{
	color:blue;
	font-family:Lucida Console, Courier, monospace;
	font-style: initial;
	font-weight: bold;
	padding:20px;
	margin:50px;
	border-radius:20px;
}

.qoute1{
	@extend %message;
	background-color:peru;
}

.qoute2{
	@extend %message;
	background-color:pink;
}

.qoute3{
	@extend %message;
	background-color:plum;
}